{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>{% trans "Sign Out" %}</div>
      <div class='subtitle'>{% trans 'Are you sure you want to sign out?' %}</div>
      <div class='input-fields'>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="submit-btn full-width">{% trans 'Sign Out' %}</button>
        </form>

      </div>
    </div>
  </div>
</div>


{% endblock %}
