{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>{% trans "Password Reset" %}</div>
      <div >
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}                    
      </div>
      <div class='input-fields'>
        <form method="POST" style="margin-top: 80px;" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="submit-btn full-width" style="display: block;" 
            value="{% trans 'Reset' %}" />
        </form>
      </div>
      <div class='spacing'>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</div>
    </div>
  </div>
</div>
    
{% endblock %}
