{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>{% trans "Change Password" %}</div>
      <div class='input-fields'>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'account_reset_password' %}" style="text-decoration: none; color: cyan;">
                {% trans "Forgot Password?" %}</a>
            <button type="submit" class="submit-btn full-width" name="action">{% trans "Change Password" %}</button>
        </form>

      </div>
    </div>
  </div>
</div>



    
{% endblock %}
