section {
    background-color: white;
}
#logo {
    font-family: 'Dela Gothic One', cursive;
}
#NavItem {
    font-family: 'Merriweather', serif;
}
/* col-1-box */

#col-1-box {
  margin-top: 30px;
  margin-left: 30px;
  height: 400px;
  max-height: auto;
  overflow: hidden;
  border-radius: 10px;
  border: 1px black;
  position: relative;
}

.links {
  text-align: center;
  margin-top: 40px;
}

.links a {
  text-decoration: none;
  margin-top: 20px;
  display: block;
  color: black;
  font-weight: 400;
}
.links a:nth-child(2) {
  font-weight: bolder;
}
/* Post_box */
#Post_box {
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px black;
    position: relative;
}

#reading_list {
    margin-top: 10px;
    min-height: 200px;
    max-height: auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

#Post_box:hover {
    border: 1px solid black;
}

.post_title {
    text-indent: 80px;
    text-decoration: none;
    color: black;
    font-size: larger;
}

#post_para {
    text-indent: 80px;
}
#user:hover {
    color: black;
}
#tag_name {
    text-decoration: none;
    background-color: steelblue;
    margin-right: 2px;
    margin-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
}
.icon_div { 
    position: absolute;                
    bottom: 10px;                        
}
.like:hover {
    color: red;
}
.comment:hover {
    color: blue;
}

/* Profile */


