
{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'post_box/post_box.html' %}
{% endblock %}

{% block scripts %}
<script>
    const box = Vue.createApp({
        data() {
            return {

            }
        },
        methods:{
            addToReadinglist(post_id) {
                var data = {'post_id':post_id}
				const url = '/api/reading_list/'

				fetch(url,{
					method:'POST',
					headers:{
						'Content-Type':'applications/json',
						'X-CSRFToken':'{{csrf_token}}'
					},
					body:JSON.stringify(data)
				})
				.then((response)=>{
					console.log(response)
					console.log(data)
				})
				.catch(function(error){
					console.log(error)
				})

            }
        }
    }).mount('#box')

</script>
{% endblock %}